<div class="holder">
  <div class="container justify-content-evenly">
    <div class="row">
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="https://www.youtube.com/@SDSArmA3" target="_blank">
          <i class="bi bi-youtube"></i>
          <span class="d-none d-md-block">
          Youtube
            </span>
        </a>
      </div>
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="https://www.tiktok.com/@s.d.spl" target="_blank">
          <i class="bi bi-tiktok"></i>
          <span class="d-none d-md-block">
        Tik Tok
          </span>
        </a>
      </div>
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="https://www.instagram.com/s.d.spl/" target="_blank">
          <i class="bi bi-instagram"></i>
          <span class="d-none d-md-block">
        Instagram
          </span>
        </a>
      </div>
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="https://discord.com/channels/553262916212621322/817141252926734336" target="_blank">
          <i class="bi bi-discord"></i>
          <span class="d-none d-md-block">
        Discord
          </span>
        </a>
      </div>
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="https://www.facebook.com/ARMA3SDS" target="_blank">
          <i class="bi bi-facebook"></i>
          <span class="d-none d-md-block">
        Facebook
          </span>
        </a>
      </div>
      <div class="col-4 col-md-2 my-2">
        <a type="button" class="btn btn-primary w-100 h-100" href="ts3server://142.132.221.131" target="_blank">
          <i class="bi bi-headphones"></i>
          <span class="d-none d-md-block">
        Teamspeak
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
