<main>


  <section class="my-5 about container">
    <app-only-text tite="O nas:" uri="/assets/ron.jpg">
      Jesteśmy klanem grającym głównie, lecz nie tylko w gry Arma 3, DCS i RoN. Naszym celem jest odnalezienie balansu
      pomiędzy realizmem, a dobrą zabawą. Podejmujemy się różnych, często trudnych wyzwań by „przeżyć” te niesamowite
      momenty, dać z siebie maksimum i wspólnie świętować zwycięstwo lub żałować porażki. Uczymy się na błędach, dlatego
      szukamy nowych rozwiązań by nasza rozgrywka była wyjątkowa.
    </app-only-text>

    <hr class="hr hr-blurry my-3"/>
  </section>
    <div class="img-slided"></div>

  <section class="my-5 about container d-flex">
    <div class="row">
    <app-only-text tite="O Armie:" uri="/assets/background.jpg">
      Arma to gra, która od wielu lat stanowi główny temat naszych weekendowych rozgrywek. Za każdym razem jeden z
      naszych twórców misji szykuję na sobotę unikalną misję, lub kampanię na kilka rozgrywek i ilość modów dostępnych
      pozwala na rozbudowaną i ciągle zmieniającą się zabawę. Narzędzie
      <button class="btn btn-outline-primary btn-sm"><a href="http://sds-polska.pl:5000/">OCAP</a></button>
      ,
      pozwala na śledzenie naszych rozgrywek z poziomu mapy, bez zewnętrznych programów, bezpośrednio z naszej
      strony..
    </app-only-text>
      <div class="w-100 mb-3"></div>
        <!-- <app-only-text class="col-lg-6 mb-3" tite="O Armie:" uri="/assets/background.jpg">
          Arma to gra, która od wielu lat stanowi główny temat naszych weekendowych rozgrywek. Za każdym razem jeden z
          naszych twórców misji szykuję na sobotę unikalną misję, lub kampanię na kilka rozgrywek i ilość modów dostępnych
          pozwala na rozbudowaną i ciągle zmieniającą się zabawę. Narzędzie
          <button class="btn btn-outline-primary btn-sm"><a href="http://sds-polska.pl:5000/">OCAP</a></button>
          ,
          pozwala na śledzenie naszych rozgrywek z poziomu mapy, bez zewnętrznych programów, bezpośrednio z naszej
          strony..
        </app-only-text>
        <app-only-text class="col-lg-6" tite="O Armie:" uri="/assets/background.jpg">
          Arma to gra, która od wielu lat stanowi główny temat naszych weekendowych rozgrywek. Za każdym razem jeden z
          naszych twórców misji szykuję na sobotę unikalną misję, lub kampanię na kilka rozgrywek i ilość modów dostępnych
          pozwala na rozbudowaną i ciągle zmieniającą się zabawę. Narzędzie
          <button class="btn btn-outline-primary btn-sm"><a href="http://sds-polska.pl:5000/">OCAP</a></button>
          ,
          pozwala na śledzenie naszych rozgrywek z poziomu mapy, bez zewnętrznych programów, bezpośrednio z naszej
          strony..
        </app-only-text> -->
    </div>
  </section>
</main>

<app-footer class="footer"></app-footer>

