.navbar {
  height: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.8495575221238938) 0%, rgba(86,92,213,1) 27%, rgba(28,34,140,1) 50%, rgba(86,92,213,1) 79%, rgba(255,255,255,1) 100%);
}

.rounded {
  padding: 0 10px;
  border: 1px solid blue;
}
